<div class="container">
  <h1>Game Service</h1>
  <p>Welcome to the Sokoban game platform. This service handles the game logic and user interface.</p>
  <p><span class="brand">Game v<%= Application.spec(:game_service, :vsn) %></span></p>
</div>